kind: PersistentVolume
apiVersion: v1
metadata:
  name: postgres-pv-volume
  labels:
    type: local
    app: postgres
spec:
  storageClassName: manual
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "/mnt/odk-${NAMESPACE}"
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: postgres-pv-claim
  labels:
    app: postgres
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:9.6
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: postgres
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: password
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: postgredb
      volumes:
        - name: postgredb
          persistentVolumeClaim:
            claimName: postgres-pv-claim
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  labels:
    app: postgres
spec:
  ports:
   - port: 5432
  selector:
   app: postgres
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mail
spec:
  selector:
    matchLabels:
      app: mail
  replicas: 1
  template:
    metadata:
      labels:
        app: mail
    spec:
      containers:
        - name: mail
          image: itsissa/namshi-smtp:4.89-2.deb9u5
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 25
          env:
          - name: PORT
            value: "25"
          - name: MAILNAME
            valueFrom:
              configMapKeyRef:
                name: odk-config            
                key: domain
#     volumes:
#      - ./files/dkim/config:/etc/exim4/_docker_additional_macros:ro
#      - ./files/dkim/rsa.private:/etc/exim4/domain.key:ro
---
apiVersion: v1
kind: Service
metadata:
  name: mail
  labels:
    app: mail
spec:
  selector:
   app: mail
  ports:
   - port: 25
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: service
spec:
  selector:
    matchLabels:
      app: service
  replicas: 1
  template:
    metadata:
      labels:
        app: service
    spec:
      initContainers:
        - name: db-ready
          image: postgres:9.6
          volumeMounts:
            - name: init-db
              mountPath: /scripts
          command: ["sh", "/scripts/init-db.sh"]
          env:
            - name: DB_HOST
              value: postgres.${NAMESPACE}.svc.cluster.local
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: password
            - name: NEW_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: postgres-odk
                  key: db
            - name: NEW_DB_USER_NAME
              valueFrom:
                secretKeyRef:
                  name: postgres-odk
                  key: username
            - name: NEW_DB_USER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-odk
                  key: password
      containers:
        - name: service
          image: ${DOCKER_REGISTRY}/service:${IMAGE_VERSION}
          ports:
            - containerPort: 8383
            # TODO: 443
          env:
          - name: DOMAIN
            valueFrom:
              configMapKeyRef:
                name: odk-config            
                key: domain
          - name: DB_HOST
            value: postgres.${NAMESPACE}.svc.cluster.local
          command: ["sh", "./start-odk.sh"]
          volumeMounts:
          - name: enketo-secrets
            mountPath: "/etc/secrets"
            readOnly: true
          - name: db-secrets
            mountPath: "/etc/db-secrets"
            readOnly: true
          - name: odk-config
            mountPath: "/usr/share/odk/config.json.template"
            subPath: service-config.json
          - name: odk-config
            mountPath: "/usr/odk/start-odk.sh"
            subPath: start-odk.sh
      volumes:
        - name: init-db
          configMap:
            name: odk-init-db
            defaultMode: 0755
        - name: odk-config
          configMap:
            name: odk-config
        - name: enketo-secrets
          secret:
            secretName: enketo
        - name: db-secrets
          secret:
            secretName: postgres-odk
---
apiVersion: v1
kind: Service
metadata:
  name: service
  labels:
    app: service
spec:
  selector:
   app: service
  ports:
   - port: 8383
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pyxform
spec:
  selector:
    matchLabels:
      app: pyxform
  replicas: 1
  template:
    metadata:
      labels:
        app: pyxform
    spec:
      containers:
        - name: pyxform
          image: getodk/pyxform-http:v1.0.0 
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: pyxform
  labels:
    app: pyxform
spec:
  selector:
   app: pyxform
  ports:
   - port: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: enketo
spec:
  selector:
    matchLabels:
      app: enketo
  replicas: 1
  template:
    metadata:
      labels:
        app: enketo
    spec:
      containers:
        - name: enketo
          image: ${DOCKER_REGISTRY}/enketo:${IMAGE_VERSION} 
          ports:
            - containerPort: 8005
            # TODO: 443
          env:
          - name: DOMAIN
            valueFrom:
              configMapKeyRef:
                name: odk-config            
                key: domain
          - name: SYSADMIN_EMAIL
            value: TODO
          volumeMounts:
          - name: odk-config
            mountPath: "/srv/src/enketo_express/config/config.json.template"
            subPath: enketo-config.json
      volumes:
        - name: odk-config
          configMap:
            name: odk-config
---
apiVersion: v1
kind: Service
metadata:
  name: enketo
  labels:
    app: enketo
spec:
  selector:
   app: enketo
  ports:
   - port: 8005
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: enketo-redis-main
  labels:
    app: enketo-redis-main
spec:
  selector:
    matchLabels:
      app: enketo-redis-main
  replicas: 1
  template:
    metadata:
      labels:
        app: enketo-redis-main
    spec:
      containers:
      - name: master
        image: redis:5
        ports:
        - containerPort: 6379
        command:
        - redis-server
        - /usr/local/etc/redis/redis.conf
        volumeMounts:
        - name: redisconfig
          mountPath: /usr/local/etc/redis
      volumes:
        - name: redisconfig
          configMap:
            name: redis-enketo-main
            items:
            - key: redis.conf
              path: redis.conf
---
apiVersion: v1
kind: Service
metadata:
  name: enketo-redis-main
  labels:
    app: enketo-redis-main
spec:
  selector:
   app: enketo-redis-main
  ports:
  - port: 6379
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: enketo-redis-cache
  labels:
    app: enketo-redis-cache
spec:
  selector:
    matchLabels:
      app: enketo-redis-cache
  replicas: 1
  template:
    metadata:
      labels:
        app: enketo-redis-cache
    spec:
      containers:
      - name: master
        image: redis:5
        ports:
        - containerPort: 6380
        command:
        - redis-server
        - /usr/local/etc/redis/redis.conf
        volumeMounts:
        - name: redisconfig
          mountPath: /usr/local/etc/redis
      volumes:
        - name: redisconfig
          configMap:
            name: redis-enketo-cache
            items:
            - key: redis.conf
              path: redis.conf
---
apiVersion: v1
kind: Service
metadata:
  name: enketo-redis-cache
  labels:
    app: enketo-redis-cache
spec:
  ports:
  - port: 6380
  selector:
   app: enketo-redis-cache
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: odk-ingress
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: enketo
            port:
              number: 8005 #8383
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: odk-config
data:
  domain: ${DOMAIN}
  enketo-config.json: |
    {
        "app name": "Enketo",
        "base path": "",
        "encryption key": "${SECRET}",
        "id length": 31,
        "less secure encryption key": "${LESS_SECRET}",
        "linked form and data server": {
            "api key": "${API_KEY}",
            "authentication": {
                "type": "cookie",
                "url": "https://${DOMAIN}/#/login?next={RETURNURL}"
            },
            "name": "ODK Central",
            "server url": ""
        },
        "logo": {
            "source": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=",
            "href": ""
        },
        "offline enabled": true,
        "payload limit": "1mb",
        "port": "8005",
        "query parameter to pass to submission": "st",
        "redis": {
            "main": {
                "host": "enketo-redis-main",
                "port": "6379"
            },
            "cache": {
                "host": "enketo-redis-cache",
                "port": "6380"
            }
        },
        "support": {
            "email": "errors@getodk.org"
        },
        "text field character limit": 1000000
    }
  service-config.json: |
    {
      "default": {
        "database": {
          "host": "${DB_HOST}",
          "user": "${DB_USER}",
          "password": "${DB_PASSWORD}",
          "database": "${DB_NAME}"
        },
        "email": {
          "serviceAccount": "no-reply@${DOMAIN}",
          "transport": "smtp",
          "transportOpts": {
            "host": "mail",
            "port": 25
          }
        },
        "xlsform": {
          "host": "pyxform",
          "port": 80
        },
        "enketo": {
          "url": "http://enketo:8005/-",
          "apiKey": "${ENKETO_API_KEY}"
        },
        "env": {
          "domain": "https://${DOMAIN}"
        },
        "external": {
          "sentry": {
            "key": "3cf75f54983e473da6bd07daddf0d2ee",
            "project": "1298632"
          }
        }
      }
    }
  start-odk.sh: |
    CONFIG_PATH=/usr/odk/config/local.json
    echo "generating local service configuration.."
    
    /bin/bash -c "ENKETO_API_KEY=$(cat /etc/secrets/enketo-api-key) DB_USER=$(cat /etc/db-secrets/username) DB_PASSWORD=$(cat /etc/db-secrets/password) DB_NAME=$(cat /etc/db-secrets/db) DB_HOST=postgres.${NAMESPACE}.svc.cluster.local envsubst '\$DOMAIN:\$ENKETO_API_KEY,\$DB_NAME,\$DB_USER,\$DB_PASSWORD,\$DB_NAME,\$DB_HOST' < /usr/share/odk/config.json.template > $CONFIG_PATH"

    echo "running migrations.."
    node -e 'const { withDatabase, migrate } = require("./lib/model/database"); withDatabase(require("config").get("default.database"))(migrate);'

    echo "starting cron.."
    cron -f &

    MEMTOT=$(vmstat -s | grep 'total memory' | awk '{ print $1 }')
    if [ "$MEMTOT" -gt "1100000" ]
    then
      WORKER_COUNT=4
    else
      WORKER_COUNT=1
    fi
    echo "using $WORKER_COUNT worker(s) based on available memory ($MEMTOT).."

    echo "starting server."
    mkdir -p /var/log/odk
    node node_modules/naught/lib/main.js start --remove-old-ipc true --worker-count $WORKER_COUNT --daemon-mode false --log /var/log/odk/naught.log --stdout /proc/1/fd/1 --stderr /proc/1/fd/2 lib/bin/run-server.js
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: odk-init-db
data:
  init-db.sh: |
    #!/bin/bash

    set -e

    if test -f "$DB_PASSWORD_FILE"; then
        DB_PASSWORD=$(cat "$DB_PASSWORD_FILE")
    fi

    if test -f "$NEW_DB_USER_PASSWORD_FILE"; then
        NEW_DB_USER_PASSWORD=$(cat "$NEW_DB_USER_PASSWORD_FILE")
    fi

    echo "----------------------------------"
    echo "DB_HOST:          $DB_HOST"
    echo "DB_PORT:          $DB_PORT"
    echo "DB_USER:          $DB_USER"
    echo "NEW_DB_NAME:      $NEW_DB_NAME"
    echo "NEW_DB_USER_NAME: $NEW_DB_USER_NAME"
    echo "----------------------------------"

    echo "----------------------------------"
    echo "waiting on database to be ready..."
    echo "----------------------------------"

    set +e
    TIMEOUT=60
    COUNT=0
    until PGPASSWORD=$DB_PASSWORD pg_isready -h "$DB_HOST" -p "$DB_PORT" -U "$DB_USER" -d "postgres" || [ $COUNT -eq $TIMEOUT ];
    do
      echo "Waiting $COUNT/$TIMEOUT..."
      sleep 1
      COUNT=$((COUNT+1))
    done
    set -e

    echo "----------------------------------"
    echo "database is ready..."
    echo "----------------------------------"


    echo "----------------------------------"
    echo "Running database initialization script"
    echo "----------------------------------"

    # creates user, database and grants privileges
    PGPASSWORD=$DB_PASSWORD psql -v ON_ERROR_STOP=1 -h "$DB_HOST" -p "$DB_PORT" -U "$DB_USER" -d "postgres" <<-EOSQL

      -- The dblink extension is necessary for the dblink_exec command
      -- making sure that it is installed
      CREATE EXTENSION IF NOT EXISTS dblink;

      DO
      \$\$
      BEGIN

        -- making sure the new user exists
        -- https://stackoverflow.com/questions/8092086/create-postgresql-role-user-if-it-doesnt-exist

        IF EXISTS (
            SELECT FROM pg_catalog.pg_roles
            WHERE  rolname = '$NEW_DB_USER_NAME') THEN
            RAISE NOTICE 'user "$NEW_DB_USER_NAME" already exists, skipping.';
        ELSE
            CREATE USER $NEW_DB_USER_NAME WITH ENCRYPTED PASSWORD '$NEW_DB_USER_PASSWORD';
        END IF;

        -- making sure the new database exists
        -- https://stackoverflow.com/questions/18389124/simulate-create-database-if-not-exists-for-postgresql

        IF EXISTS (SELECT FROM pg_database WHERE datname = '$NEW_DB_NAME') THEN
            RAISE NOTICE 'database "$NEW_DB_NAME" already exists, skipping.';
        ELSE
            PERFORM dblink_exec('dbname=' || current_database(), 'CREATE DATABASE $NEW_DB_NAME');
        END IF;

        -- granting all privileges on new database for new user
        GRANT ALL PRIVILEGES ON DATABASE $NEW_DB_NAME TO $NEW_DB_USER_NAME;

      END
      \$\$;


    EOSQL

    # creates the necessary extension
    PGPASSWORD=$DB_PASSWORD psql -v ON_ERROR_STOP=1 -h "$DB_HOST" -p "$DB_PORT" -U "$DB_USER" -d "$NEW_DB_NAME" <<-EOSQL

      CREATE EXTENSION IF NOT EXISTS CITEXT;
      CREATE EXTENSION IF NOT EXISTS pg_trgm;

    EOSQL

    echo "----------------------------------"
    echo "Success!"
    echo "----------------------------------"
